menu hshift 13
menu width 49
menu margin 8
menu tabmsg

menu title Boot Menu
label local
    menu label ^Boot local hard drive
    LOCALBOOT 0

{% for key, value in images.items() %}
{%   for _key, _value in value.image_preseeds.items() %}
label {{ key }} {{ _key }}
    menu {{ key }} {{ _key }} automated install
    kernel {{ value.image_kernel }}
{%     if value.image_type == 'debian' %}
    append {{ value.image_kernel_options }} initrd={{ value.image_initrd }} preseed/url={{ _value }} preseed/interactive=false netcfg/choose_interface={{ default_interface }}
{%     endif %}
{%   endfor %}
{% endfor %}

{% for key, value in images.items() %}
{%   if loop.index == 0 %}
menu begin {{ key }}
{%   endif %}
    menu title {{ key }}
    label mainmenu
        menu label ^Back..
        menu exit
    include {{ value.image_default_boot }}
{% endfor %}

menu end
